<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Homepage</title>
	</head>
	<body>
	Number of Answers: <br>
	<a href="/numberofanswer/answered_question">Questions without Answer</a><br>
	<a href="/numberofanswer/answer_distribution">Answer Count Distribution</a><br>
	Accepted Answers: <br>
	<a href="/acceptedanswer/solved_question">Questions with Accepted Answer</a><br>
	<a href="/acceptedanswer/non-acceptedupvote_question">Questions with Most upvoted Answer not accepted</a><br>
	<a href="/acceptedanswer/time_distribution">Accpted Answer Time Distribution</a><br>
	</body>
	Tags:<br>
	<a href="/tags/cnt">Tags with "Java"</a><br>
	<a href="/tags/combupvote">Tags Combination with most upvote</a><br>
	<a href="/tags/combview">Tags Combination with most views</a><br>
	Users:<br>
	<a href="/users/threads">User Count of Threads</a><br>
	<a href="/users/answercomment">User Count of Answer and Comment and Threads</a><br>
	<a href="/users/activity">User's Activities</a>
</html>
